   
  
<div class="page">
  <div class="header">
    <h2>Pessoas</h2>
    <a routerLink="/novo">
      <button class="btn-primary">Nova Pessoa</button>
    </a>
  </div>

  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>CPF</th>
        <th>Nascimento</th>
        <th>Altura (m)</th>
        <th>Peso (kg)</th>
        <th>Sexo</th>
        <th>Ações</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let p of people">
        <td>{{ p.nome }}</td>
        <td>{{ p.cpf }}</td>
        <td>{{ p.data_nascimento }}</td>
        <td>{{ p.altura }}</td>
        <td>{{ p.peso }}</td>
        <td>{{ p.sexo }}</td>
        <td class="actions">
          <button class="btn-info" (click)="showIdealWeight(p.id!)">
            Peso ideal
          </button>

          <button class="btn-warning" (click)="edit(p.id!)">
            Editar
          </button>

          <button class="btn-danger" (click)="delete(p.id!)">
            Excluir
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
